* {
    font-family: 'Commissioner', sans-serif;
}

.jumbotron {
    background-color: lightblue;
}

.card-header {
    background-color: lightcoral;
}

.team-area {
    display: grid;
}

.col-12 {
    grid-template-columns: 35% 35% 35%;
    margin: auto;
    padding: 10px;
}

.text-center {
    height: 130px;
    margin-top: 10%;
}

